/*ver https://github.com/romuloreis/DWM2020/blob/master/docs/mediaqueries.md*/

/*O valor dessa query de ser o mesmo valor da propriedade de largura máxima (width) 
da classe ROW que definimos no style.css.*/
/*Lembrando que a esse valor deveria ter sido definido com base na tela da sua estação de trabalho (workstation)*/
@media only screen and (max-width: 1200px){

	.main-nav li {
		display: inline-block; /*Mostra nav caso esteja escondida em outras queries*/
	}

    /*Telas grandes de até 1200px de largura*/
    .hero-text-box {
	    /*vamos sobrescrever o valor dessa propriedade*/
	    /*Não queremos mais um valor fixo, queremos que seja 100% da largura da linha (_row_) definido anteriormente*/
	    width: 100%; 
	   /*vamos colocar um espaçamento mínimo entre o texto e a borda do navegador*/
	   padding: 0 2%; /*topo e bottom = 0 | right e left = 2%*/
    }
    
    .row{
		/*vamos colocar um espaçamento mínimo entre as laterais da linha (row) e a borda do navegador*/
		padding: 0 2%;/*topo e bottom = 0 | right e left = 2%*/
	}
}

@media only screen and (max-width: 1023px){

	.main-nav li {
		display: inline-block; /*Mostra nav caso esteja escondida em outras queries*/
	}

    /*Pequenos e grandes tablets: largura entre 768px e 1023px*/
    html{font-size: 18px;} /*Define o tamanho de fonte padrão para esse tamanho de tela*/
	section {padding: 60px 0;} /*Define um novo valor de espaçamento top e bottom entre as seções para esse tamanho de tela*/

    .long-copy{
		width: 80%; /*ocupa 80%, sobra 20%*/
    	margin-left: 10%; /*10% para cada lado*/
    }
    
    /*Precisamos minimizar espaço em branco, até pq não temos mais tanto espaço assim.*/
	.steps-box{margin-top: 10px;}
	.steps-box:last-child{margin-top: 10px;}
	.step {margin-bottom: 40px;}
	/*Ajusta apenas o espaçamento apenas do último passo. last-of-type similar ao last-child*/
	.step:last-of-type {margin-bottom: 60px;}
    .app-screen{width: 80%} /*Aumenta o tamanho da imagem*/

    /*anotacoes de aula*/
    /*para indicar qual posicção mudar: .setp:nth-child(2)*/
    /*pode colocar pra aumentar a largura da img que está dentro de btn-app*/

    .icon-small{ 
		width: 20px; 
		margin-right: 5px;
	}
	
	.event-feature { font-size: 90%; }
	.event-feature div{ padding: 2px 0px; }
}

@media only screen and (max-width: 767px){
	/*Pequenos telefones até pequenos tablets: largura entre 481px e 767px*/

    /*Tela menor, tamanho da fonte menor também!*/
	html{font-size: 16px;}
	/*Define um novo valor de espaçamento top e bottom entre as seções para esse tamanho de tela*/
	section {padding: 30px 0;} 

	.row,
    .hero-text-box {padding: 0 4%;}
    
    /*Nesse ponto, vamos definir que as colunas ocuparão a largura máxima da linha (classe row).
	Ou seja, uma coluna por linha (coluna única)*/
	/*As colunas não estão alinhadas!
	A classe col do grid.css está assim margin: 1% 0 1% 1.6%;
	vamos alterar esses valores...
	Vamos adicionar essa propriedade à nossa regra já existente p essa classe e 
	definir apenas um espaçamento vertical, pois as colunas estão uma em cima da outra
	*/
	.col{ 
		width: 100%; 
		margin: 0 0 4% 0;
	}

	.steps-box:first-child {text-align: center;}

	h1{ font-size: 180% }
	h2{ font-size: 150% }
	
	.long-copy{
		width: 100%;
    	margin-left: 0%;
	}

	/*Precisamos minimizar espaço em branco, até pq não temos mais tanto espaço assim.*/
	.step {margin-bottom: 20px;}
	/*Ajusta apenas o espaçamento apenas do último passo. last-of-type similar ao last-child*/
	.step:last-of-type {margin-bottom: 20px;}

	/*Ajuste do tamanho da fonte, largura, altura e redução do padding e margem direita*/
	.step div {
	    height: 40px;/*Define altura*/
	    width: 40px;/*Mesmo valor da altura, afinal queremos um circulo*/
	    padding: 4px;/*espaço entre texto e borda do container*/
	    margin-right: 15px;/*espaço entre essa div e o paragráfo - talvez varie de acordo com o tamanho dos paragráfos*/
		font-size: 120%;
	}

	/*Centralizando a imagem*/
	.steps-box:first-child{text-align: center;}
	.app-screen{width: 40%} /*Diminuindo o tamanho da imagem*/

	.main-nav {
		display: none; /*Escondendo a barra de navegação (temporariamente)*/
		margin-top: 25px;
		margin-left: 35px;
		float: left;
	}

	/*altera o display para menu mobile*/
	.main-nav li {
		display: block;

	}

	.main-nav li a {
		border: 0;
		padding: 10px 0;
		font-size: 100%;
	}

	/*AULA 22/05/2020 - menu responsivo*/
	.mobile-nav-icon {
		display: inline-block;
		font-size: 200%;
		color: #82c91e;
		font-size: large;
	}

	/*altera quando o nav pega a classe sticky na rolagem*/
	.sticky .mobile-nav-icon {
		margin-top: 10px;
		color: #82c91e;
		
	}

	.sticky .main-nav {
		margin-top: 10px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		border-bottom: 0px;
		padding: 5px 0;
	}


}

@media only screen and (max-width: 480px){
	/*Pequenos celulares: largura entre 0px e 480px*/
	section {padding: 25px 0;} /*Define um novo valor de espaçamento top e bottom entre as seções para esse tamanho de tela*/
}